.navHeader {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
	color: #fff;
    padding: 0 2rem;
}
ul {
    display: flex;
    justify-content:space-between;
    align-items: center;   
}

li {
    list-style: none;
    margin-left: 1.5rem;
}

a{
    color: lightslategray;
    text-decoration: none;
    transition: border 0.2s ease;
}

a:hover {
    border-bottom: 2px solid azure;
}

a:focus {
    color: azure;
}